<!-- Chatbot scripts go here 
<script src="https://va.ecitizen.gov.sg/cfp/Script/Jquery/jquery.min.js" integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6" crossorigin="anonymous"></script>
<script src="https://va.ecitizen.gov.sg/cfp/va/govtech/js/custom_widget.js" integrity="sha384-R4SHWc3EgkeMPDeNU/dTLoveXHI6CjE3k/vzIrKGsYZJFsgNRJ8mRUJeA8RykOmc" crossorigin="anonymous"></script>-->
<script src="https://askgov.netlify.com/askgov-client.js" id="botswanna" data-name="COVID-19 Chat for Biz" data-text="Hello! I can help answer your questions on the COVID-19 outbreak. What would you like to know more about?" data-buttons="Safe Distancing; Business Assistance" data-display="true" crossorigin="anonymous"></script>
<script src="/html/scripts/jquery.min.js"></script>
<script src="/html/vendor/lightslider-master/src/js/lightslider.js"></script>
<script src="/html/vendor/popper-1.14.3/js/popper.min.js"></script>
<script src="/html/vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/html/scripts/angular.min.js"></script>
<script src="/html/js/custom.js"></script>