<style>
  [class*="sisterbrand"] {
    font-family: hknova-regular;
  }

  .sisterbrand__container {
    display: flex;
    flex-direction: column;
    padding: 64px 16px;
    background-color: #F9FAFA;
  }

  .sisterbrand__container .sisterbrand__title h2 {
    font-size: 36px;
    line-height: 35px;
    margin-bottom: 48px;
  }

  .sisterbrand__header {
    line-height: 45px;
    color: #037e8a;
    margin-bottom: 48px;
  }

  .sisterbrand__title {
    text-align: center;
  }

  .sisterbrand__contents {
    display: grid;
    grid-template-areas:
      "content-3"
      "content-4";
    grid-gap: 25px;
    grid-template-rows: auto auto;
  }

  .sisterbrand__left-bottom {
    grid-area: content-3;
  }

  .sisterbrand__right-bottom {
    grid-area: content-4;
  }

  .sisterbrand__bold {
    font-family: hknova-semibold;
    font-size: 18px;
    line-height: 27px;
    color: #313840;
  }

  .sisterbrand__normal {
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0 32px 0;
    color: #313840;
  }

  .sisterbrand__logoWrapper {
    padding: 0 24px;
    margin-top: 24px;
  }

  .sisterbrand__logo {
    width: 48px;
    height: 48px;
  }

  .sisterbrand__card {
    display: grid;
    background: #ffffff;
    box-shadow: 0px 0px 0px rgba(22, 26, 29, 0.03),
      0px 7px 25px rgba(22, 26, 29, 0.03), 0px 4px 12px rgba(22, 26, 29, 0.03);
    border-radius: 5px;
    row-gap: 8px;
    grid-template-rows: 80px auto auto auto 64px;
    height: 100%;
  }

  .sisterbrand__card--title {
    font-family: hknova-semibold;
    font-size: 18px;
    line-height: 22px;
    color: #313840;
    padding: 0 24px;
  }

  .sisterbrand__card--body {
    font-size: 16px;
    line-height: 24px;
    color: #313840;
    padding: 0 24px;
    margin: 16px 0;
  }

  .sisterbrand__card--line {
    border-bottom: 1px solid #dbdfe4;
  }

  .sisterbrand__card--button {
    font-size: 16px;
    line-height: 24px;
    color: #2a6ebb;
    padding: 0 24px;
    margin-top: 16px;
  }

  @media screen and (min-width: 768px) {
    .sisterbrand__contents {
      display: grid;
      grid-template-areas:
        "content-1 content-2"
        "content-3 content-4";
      row-gap: 25px;
      max-width: 1140px;
      margin: 0 auto;
      column-gap: 64px;
    }

    .sisterbrand__media iframe {
      height: 100%;
      width: 100%;
    }
  }
</style>
<div class="sisterbrand__container">
  <div class="sisterbrand__header">
    <div class="sisterbrand__contents">
      <div class="sisterbrand__left-bottom">
        <div class="sisterbrand__card">
          <div class="sisterbrand__logoWrapper">
            <img class="sisterbrand__logo" src="/images/rocket.png" alt="logo" />
          </div>
          <div class="sisterbrand__card--title">Partner with GoBusiness</div>
          <div class="sisterbrand__card--body">
            Looking for Government e-services for <b>citizens</b>?
          </div>
        </div>
      </div>
      <div class="sisterbrand__right-bottom">
        <div class="sisterbrand__card">
          <div class="sisterbrand__logoWrapper">
            <img class="sisterbrand__logo" src="/images/rocket.png" alt="logo" />
          </div>
          <div class="sisterbrand__card--title">Help GoBusiness Improve</div>
          <div class="sisterbrand__card--body">
            To access Government e-Services and resources for
            individuals and families
            <a href="https://www.life.gov.sg/" target="_blank" rel="noopener">Visit LifeSG</a>
          </div>
        </div>
      </div>
    </div>
  </div>