---
layout: skeleton
---
<style>
	.bg-hero {
		background: url('{{site.baseurl}}/images/isomer-banner.png') no-repeat top left;
		-webkit-background-size: cover;
		background-size: cover;
	}

	.bg-hero-bottom {
		background: url('{{site.baseurl}}/images/isomer-banner-bottom.png') no-repeat top left;
		-webkit-background-size: cover;
		background-size: cover;
	}
</style>

<section class="bp-hero bg-hero">
    <div class="bp-hero-body">
        <div class="bp-container margin--top--lg">
            <div class="row is-vcentered is-centered ma">
                <div class="col has-text-white is-hidden-touch has-text-centered">
                  <h1 class="display padding--bottom--lg margin--none"><b>Isomer</b></h1>
                  <p class="padding--bottom--lg">Rapidly launch an informational website for your Government agency</p>
                  <a href="https://form.gov.sg/5dc80f7c03b2790012428dc5" class="bp-button is-white is-outlined is-uppercase search-button">Get in touch</a>
                </div>
                <div class="col has-text-white has-text-centered is-hidden-desktop">
                	<h1 class="display padding--bottom--lg"><b>Isomer</b></h1>
                	<p class=" padding--bottom--lg">
                    	Rapidly launch an informational website for your Government agency
                  	</p>
                	<a href="{{ site.baseurl }}/#showcase" class="bp-button is-white is-outlined is-uppercase search-button">See Examples</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bp-section">
    <div class="bp-container">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
                <p class="padding--bottom eyebrow is-uppercase">
                    TRUSTED BY THESE AGENCIES
                </p>
            </div>
        </div>
	    <div class="row has-text-centered margin--top padding--bottom is-hidden-touch">
	    	<div class="col helper">
	    		<img class="isomer-agency-logo" src="{{site.baseurl}}/images/boa-logo.svg" alt="Board of Architects"/>
	    		<img class="isomer-agency-logo" src="{{site.baseurl}}/images/govtech-logo.svg" alt="GovTech Singapore"/>
	    		<img class="isomer-agency-logo" src="{{site.baseurl}}/images/hlb-logo.svg" alt="Hotels Licensing Board"/>
	    		<img class="isomer-agency-logo" src="{{site.baseurl}}/images/stratgroup-logo.jpg", alt="Strategy Group Singapore"/>
	    	</div>
	    </div>
	    <div class="row has-text-centered margin--top padding--bottom is-hidden-desktop">
	        <div class="col is-one-quarter helper">
	        	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/boa-logo.svg" alt="Board of Architects"/>
	        </div>
	        <div class="col is-one-quarter helper">
	        	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/govtech-logo.svg" alt="GovTech Singapore"/>
	        </div>
	        <div class="col is-one-quarter helper">
	        	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/hlb-logo.svg" alt="Hotels Licensing Board"/>
	        </div>
	        <div class="col is-one-quarter helper">
	        	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/stratgroup-logo.jpg", alt="Strategy Group Singapore"/>
	        </div>
	    </div>
	</div>
</section>

<section class="bp-section" style="background-color:#6031b6" id="showcase">
    <div class="bp-container padding--bottom--lg">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
                <p class="padding--bottom eyebrow is-uppercase has-text-white">
                    SHOWCASE
                </p>
                <h1 class="padding--bottom has-text-white"><b>Websites generated using Isomer</b></h1>
                <p class="has-text-white">Our websites are compliant-by-design, so that you can focus on your content</p>
            </div>
        </div>
	    <div class="row has-text-centered margin--top padding--bottom">
	        <div class="col is-one-third">
	        	<a href="https://www.hlb.gov.sg" target="_blank" class="is-media-card">
	        		<div class="image-hoverable">
			        	<img class="isomer-example" src="{{site.baseurl}}/images/hlb-example.png" alt="Hotels Licensing Board"/>
			        	<div class="image-hover-overlay"></div>
			        	<div class="bp-button is-white is-outlined is-uppercase image-hover-button search-button">Visit Site</div>
			        </div>
			    </a>
			    <h5 class="padding--top--sm has-text-white"><b>Hotels Licensing Board</b></h5>
	        </div>
	        <div class="col is-one-third">
	        	<a href="https://www.strategygroup.gov.sg/" target="_blank" class="is-media-card">
	        		<div class="image-hoverable">
		        		<img class="isomer-example" src="{{site.baseurl}}/images/stratgroup-example.png" alt="Strategy Group Singapore"/>
		        		<div class="image-hover-overlay"></div>
		        		<div class="bp-button is-white is-outlined is-uppercase image-hover-button search-button">Visit Site</div>
		        	</div>
	        	</a>
	        	<h5 class="padding--top--sm has-text-white"><b>Strategy Group</b></h5>
	        </div>
	        <div class="col is-one-third">
	        	<a href="https://www.boa.gov.sg" target="_blank" class="is-media-card">
	        		<div class="image-hoverable">
	        			<img class="isomer-example" src="{{site.baseurl}}/images/boa-example.png" alt="Board of Architects"/>
	        			<div class="image-hover-overlay"></div>
	        			<div class="bp-button is-white is-outlined is-uppercase image-hover-button search-button">Visit Site</div>
	        		</div>
	        	</a>
	        	<h5 class="padding--top--sm has-text-white"><b>Board of Architects</b></h5>
	        </div>
	    </div>
	</div>
</section>


<section class="bp-section bg-newssection">
	<div class="bp-container">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl">
                <p class="padding--bottom eyebrow is-uppercase">
                   	INFO SHEET
                </p>
                <h1 class="has-text-secondary padding--bottom--xl"><b>Need help convincing your agency leaders?</b></h1>

                <a href="{{ site.baseurl }}/files/isomer-info-sheet-23-oct-2018.pdf" class="bp-sec-button is-media-card" target="_blank">
                    <div>
                        <span>Download Info Sheet</span>
                    </div>
                </a>
            </div>
        </div>
	</div>
</section>

<section class="bp-section bg-hero-bottom">
    <div class="bp-container">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl has-text-white">
                <h1 class="padding--bottom"><b>Ready to start?</b></h1>
                <p class="padding--bottom--lg"> We will discuss with you on your needs and help you come onboard Isomer. </p>
            	<a href="{{ site.baseurl }}/contact-us">
	            	<div class="bp-button is-white is-outlined is-uppercase search-button">
	            		Get in touch
	            	</div>
            	</a>
            </div>
        </div>
	</div>
</section>
